*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Flex", sans-serif;
    color: #fff;
}

html{
    background-color: #060608;
    font-size: 62.5%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
}

button{
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6{
    font-family: "EB Garamond", serif;
}

.container{
    width: 100%;
    max-width: 1246px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 7.2rem;
    display: flex;
    background-color: rgba(0, 4, 7, 0.90);
    backdrop-filter: blur(4px);
     z-index: 100;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

header nav{
    display: flex;
    gap: 4.7rem;
}

header nav a{ 
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 150%;
    transition: .7s ease;
}

header nav a:hover{
    color: #f55827;
 }

header button{
    border: 2px solid #2f2f3b;
    padding: 0.95rem 2.4rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 150%;
    border-radius: 32px; 
    transition: all .7s ease;
}

header button:hover{
    background-color: #fff;
    color: #101014;
    box-shadow: 0px 0px 0px 3px rgba( 255, 255, 255, 0.030);
}

.s-hero{
    background: url('../img/cleiton.jpg') no-repeat center center;
    background-size: cover;
    height: 80rem;
    padding-top: 11.2rem;
    padding-bottom: 14.3rem;
    background-attachment: fixed;
}

.s-hero:after{
    content: "";
    width: 100%;
    height: 21.6rem;
    pointer-events: none;
    background: linear-gradient(180deg, #060608 0%, rgba(0, 4, 7, 0.00) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    transform: rotate(180deg);
}

.s-hero .container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.s-hero .right{
    width: 100%;
    max-width: 9.5rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.6rem;
    animation: fadeRight 1s  forwards;
}

.s-hero .right p{
    color: #e1e1e1;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 150%;
}

.s-hero .right .square{
    border-radius: 6px;
    background-color: #f09104;
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 150%;
}

.s-hero .left{
    width: 100%;
    max-width: 62.2rem;
    animation: fadeLeft 1s forwards;
    z-index: 6;
}

.s-hero .left .plataform{
    display: flex;
    margin-bottom: 2.4rem;
}

.s-hero .left .plataform span{
    color: #c0c0cc;
   font-size: 1.2rem;
   line-height: 150%;
   background-color: #1b1b21;
   padding: 0.6rem 1.2rem;
   border-radius: 4px 0px 0px 4px;
}

.s-hero .left .plataform strong{
    border-radius: 0px 4px 4px 0px;
    background-color: #25252e;
    padding: 0.6rem 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 150%;
}

.s-hero .left h1{
 font-size: 5.6rem;
 font-weight: 700;
 line-height: normal;
 text-transform: uppercase;
 margin-bottom: 8px;
}

.s-hero .left .description{
    font-size: 1.8rem;
    line-height: 150%;
    margin-bottom: 4.8rem;
}

.s-hero .left .value{
    margin-bottom: 7.2rem;
}

.s-hero .left .value h3{
    font-size: 3.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2.4rem;
}

.s-hero .left .value .btns{
    display: flex;
    align-items: center;
    gap: 2.2rem;
}

.s-hero .left .value .btns .btn-cart {
    border-radius: 32px;
    background-color: #f55827;
    padding: 1.6rem 4rem;
    color: #fff;
    font-weight: 500;
    line-height: 150%;
    transition: all .7s ease;
}

.s-hero .left .value .btns .btn-cart:hover{
    background-color: #cf3302;
    box-shadow: 0px 0px 0px 3px rgba(245, 88, 39, 0.30);
}


.s-hero .left .value .btns .btn-favorite {
    width: 56px;
    height: 56px;
    border: 2px solid #2f2f3b;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all .7s ease;
}

.s-hero .left .value .btns .btn-favorite:hover{
    background-color: #fff;
    color: #101014;
    box-shadow: 0px 0px 0px 3px rgba( 255, 255, 255, 0.030);
}

.s-hero .left .value .btns .btn-favorite:hover img{
    filter: invert(1);
}

.s-hero .left ul{
 margin-bottom: 1.7rem;
 display: flex;
 align-items: center;
 gap: 1.6rem;
}

.s-hero .left ul:last-child{
    margin-bottom: 0;
}

.s-hero .left ul:last-child li::before{
    display: none !important;
}

.s-hero .left ul li{
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.s-hero .left ul li:last-child::before{
    content: "";
    width: 5px;
    height: 5px;
    background-color: #c0c0cc;
    border-radius: 50%;
    display: block;
}

.s-hero .left ul:last-child{
    margin-bottom: 0;
}

.s-hero .left ul p{
    color: #f2f2ff;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
}

.s-videos{
    width: 100%;
    padding-top: 180px;
   padding-bottom: 23.4rem;
   overflow: hidden;
   position: relative;
}

.s-videos::before{
    pointer-events: none;
}

.s-videos .container{
    position: relative;
}

.s-videos .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.2rem;
}

.s-videos .top .swiper-pagination{
    position: relative;
    width: auto;
    bottom: 0;
}



.s-videos .top .swiper-pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    border-radius: 0;
    background-color: #2f2f3b;
    opacity: 1;
}
.s-videos .top .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #fff;
}

.s-videos .top h2{
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: uppercase;
}

.s-videos .card-videos {
    display: block;
    width: 100%;
    max-width: 38.3rem;
}

.s-videos .card-videos .thumbnail{
    width: 100%;
    position: relative;
    height: 21.6rem;
    margin-bottom: 2.2rem;
}

.s-videos .card-videos .thumbnail .thumb{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s-videos .card-videos .thumbnail .icon{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -22.5px;
    margin-left: -22px;
    opacity: 0;
    transition: opacity 1s ease;
}

.s-videos .card-videos .thumbnail::before{
    content: "";
    background: url('../img/mask-group.svg') no-repeat center center;
    width: 39.8rem;
    height: 22.2rem;
    position: absolute;
    top: -3px;
    left: -5px;
    opacity: 0;
    transition: opacity 1s ease;
}

.s-videos .card-videos:hover .thumbnail::before{
    opacity: 1;
}

.s-videos .card-videos:hover .thumbnail .icon{
    opacity: 1;
}

.s-videos .btn{
    position: absolute;
    top: 13.3rem;
    width: 4rem;
    height: 4rem;
    background-color: #2f2f3b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: opacity .3s ease;
}

.s-videos .btn.swiper-button-disabled{
    opacity: 0;
}

.s-videos .btn-prev{
    left: 0;
    transform: rotate(180deg);
}

.s-videos .btn-next{
    right: 0;
}

.s-vilao {
    width: 100%;
    height: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:  no-repeat center center;
    background-size: cover;
    animation: changeBG 20s infinite linear;
}


.s-vilao h2{
    font-size: 4.8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 8px;
    text-align: center;
}

.s-vilao p {
    margin-bottom: 72px;
    color: #ceced9;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.video{
  padding-bottom: 7.7rem;
}


footer{
    position: relative;
    padding-top: 9.6rem;
    padding-bottom: 7.2rem;
}

footer::before{
    content: "";
    width: 100%;
    height: 1.6rem;
    background: url('../img/line.svg') no-repeat center center;
    position: absolute;
    top: 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

footer .left{
    width: 100%;
    max-width: 66.8rem;
}

footer .left strong{
    font-family: 'Mohave', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1.1rem;
    display: block;
}

footer .left p {
    color: #ceced9;
    font-size: 1.4rem;
    line-height: 150%;
}

footer.right{
display: flex;
align-items: center;
gap: 2.4rem;
}

footer.right span{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 150%;
}


@keyframes fadeLeft{
    from{
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeRight {
    from{
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
@media(max-width: 1200px){
  .s-hero{
    height: auto;
    padding-top: 7rem;
    padding-bottom: 6rem;
  }
  .s-videos{
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .s-videos .btn{
    display: none;
  }
  .s-vilao{
    height: 55rem;
  }
  footer{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
@media(max-width: 991px){
header nav{
    display: none;
}
.s-hero .left{
    max-width: 100%;
}
.s-hero .right{
    display: none;
}


 footer .container{
    flex-direction: column;
    align-items: center;
    gap: 4rem;
 }
 footer .left{
    text-align: center;
 }
}
@media (max-width: 560px) {
 header .logo{
   max-width: 12.6rem;
 }   
 header button{
    padding: 0.95rem 1rem;
 }

 .s-hero{
    padding-top: 0.5rem;
    padding-bottom: 4rem;
    background-size: 1450px;
    background-position-x: 31%;
 }
 .s-hero .left h1{
  font-size: 4.2rem;
  max-width: 84%;
  line-height: 120%;
 }
 .s-hero .left .description{
    font-size: 1.6rem;
    margin-bottom: 3rem;
 }
 .s-hero .left .value{
    margin-bottom: 4rem;
 }
 .s-hero .left ul p {
    font-size: 1.4rem;
 }
 .s-hero .left ul {
    flex-direction: column;
    align-items: flex-start;
 }

 .s-hero:after{
    display: none;
 }

 .s-vilao{
    height: auto;
    padding: 6rem 0;
    background-size: 900px;
 
}
.s-vilao h2{
    font-size: 3.6rem;
}
.s-vilao p{
    font-size: 1.6rem;
    max-width: 30rem;
    margin-bottom: 4rem;
}

.video{
    width: 350px;
    height: 400px;
}
}